<div class="row" *ngIf="currentUser">
  <div class="col-12">
    <h1 class="text-success my-5">User Details</h1>
  </div>
  <div class="col-12 col-md-6 col-xl-3 mb-4 text-center">
    <img src="{{currentUser.avatar}}" alt="Responsive image" class="dgc-user-image">
  </div>
  <div class="col-12 col-md-6 col-xl-9 ps-4">
    <h2 class="text-primary border-bottom pb-3">Detail of {{currentUser.name}} </h2>
    <h3 class="text-secondary">Age: {{currentUser.age}}</h3>
    <h3 class="text-primary border-bottom pb-3">Position: {{currentUser.work ? currentUser.work : '----------'}}</h3>
    <p class="text-secondary">{{currentUser.description}}</p>
  </div>
</div>
