<h2 mat-dialog-title>{{formState}} Category</h2>
<mat-dialog-content>
  <form [formGroup]="categoryForm">
    <div>
      <mat-form-field class="category-container">
        <input formControlName="name" matInput placeholder="Category Name" required>
      </mat-form-field>
      <mat-form-field class="category-container">
        <textarea formControlName="description" matInput placeholder="Description" required></textarea>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="onSave()" [disabled]="categoryForm.invalid" color="primary" mat-button>
    <mat-icon>save</mat-icon>
    Save
  </button>
  <button (click)="onCancel()" color="primary" mat-button>
    <mat-icon>cancel</mat-icon>
    Cancel
  </button>
</mat-dialog-actions>
